/*Permet de modifier l'affichage des liens cliquables*/

table tr td a {
    display:block;
    height:100%;
    width:100%;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
  }
.tr-bkg:hover {
    background:rgba(125, 250, 116, 0.712);
}

body {
    background-image: 'hiking-wallpapers.jpg';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
