{% extends 'base.html' %}
{% load bootstrap5 %}



{% block content %}



<div class="container p-5 my-5 border">
    <h1>Saisissez votre sortie:</h1>

    <!--Formulaire pour saisir ou modifier une sortie-->
    <div class="clearfix">
        <div class="float-right pb-3">
            <form action="{% url 'itineraires:ajouterModifSortie' sortie_id %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!--Bouton pour revenir en arrière (ne fonctionne que pour la modification de sortie)-->
    {% if sortie.itineraire.id %}
        <a href={% url 'itineraires:listeSorties' sortie.itineraire.id %} class="btn btn-warning">Retour</a>
    {% endif %}

</div>


{%endblock content%}