{% extends 'base.html' %}

{% block content %}


<!--Tableau représentant les détails de l'itinéraire pour lequel les sorties sont associées-->
<div class="container mt-3">
    <h1>{{ itineraire }}</h1>
    <table class="table table-striped">
        <tr>
            <th>description:</th>
            <td>{{ itineraire.description }}</td>
        </tr>
        <tr>
            <th>altitude de depart:</th>
            <td>{{ itineraire.altitude_de_depart }} m</td>
        </tr>
        <tr>
            <th>altitude min:</th>
            <td>{{ itineraire.altitude_min }} m</td>
        </tr>
        <tr>
            <th>altitude max:</th>
            <td>{{ itineraire.altitude_max }} m</td>
        </tr>
        <tr>
            <th>denivele positif cumule:</th>
            <td>{{ itineraire.denivele_positif_cumule }} m</td>
        </tr>
        <tr>
            <th>denivele negatif cumule:</th>
            <td>-{{ itineraire.denivele_negatif_cumule }} m</td>
        </tr>
        <tr>
            <th>duree estime:</th>
            <td>{{ itineraire.duree_estime }} h</td>
        </tr>
        <tr>
            <th>difficulte estimee:</th>
            <td>{{ itineraire.difficulte_estimee }}/5</td>
        </tr>
    </table>
</div>


<!--Liste des sorties associées à l'itinéraire-->
<div class="container mt-3">
    <h2>Liste des sorties:</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Utilisateur</th><th>Date de la sortie</th><th>Durée réelle</th><th>Difficultée estimée</th><th></th><th></th>
            </tr>
            {% for sortie in ListeSorties %}
            <tr>
                <td>{{ sortie.utilisateur }}</td>
                <td>{{ sortie.date_sortie }}</td>
                <td>{{ sortie.duree_reelle }} h</td>
                <td>{{ sortie.difficulte_estimee }}/5</td>
                <!--Bouton consulter qui renvois vers la page de détails de la sortie-->
                <td><a href={% url 'itineraires:sortieDetails' sortie.id %} class="btn btn-primary">Consulter</a>
                <!--Bouton modifier qui renvois vers la page de modification de la sortie. 
                    Ne s'affiche que si la sortie a été saisie par l'utilisateur présentement connecté-->
                {% if request.user == sortie.utilisateur %}
                <a href={% url 'itineraires:ajouterModifSortie' sortie.id %} class="btn btn-success">Modifier</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}