{% extends 'base.html' %}


{% block content %}

<!--Tableau contenant les détails d'une sortie-->
<div class="container mt-3">
    <h1>{{ sortie }}</h1>
    <table class="table">
        <tr>
            <th>utilisateur :</th><td>{{sortie.utilisateur}}</td>
        </tr>
        <tr>
            <th>itineraire :</th><td>{{sortie.itineraire}}</td>
        </tr>    
        <tr>
            <th>date de la sortie :</th><td>{{sortie.date_sortie}}</td>
        </tr>
        <tr>
            <th>duree réelle :</th><td>{{sortie.duree_reelle}} h</td>
        </tr>
        <tr>
            <th>nombre de participant(s) :</th><td>{{sortie.nombre_participant}}</td>
        </tr>
        <tr>
            <th>experience du groupe :</th><td>{{sortie.experience_groupe}}</td>
        </tr>
        <tr>
            <th>météo :</th><td>{{sortie.meteo}}</td>
        </tr>
        <tr>
            <th>difficulté estimée :</th><td>{{sortie.difficulte_estimee}}/5</td>
        </tr>
    
    </table>

    <!--Bouton de retour en arrière (pour revenir à la page de listing des sorties associée 
        à l'itinéraire de la sortie que l'utilsateur consulte actuellement)-->
    <a href={% url 'itineraires:listeSorties' sortie.itineraire.id %} class="btn btn-warning">Retour</a>

    <!--Bouton qui renvoie vers la page de modification d'une sortie.
        N'est visible que si l'utilsateur est connecté et qu'il a saisie la présente sortie-->
    {% if request.user == sortie.utilisateur %}
        <a href={% url 'itineraires:ajouterModifSortie' sortie.id %} class="btn btn-success">Modifier</a>
    {% endif %}
    
</div>


    

{% endblock content %}