{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <!--En-tête que dont héritera tous les fichiers html
            -Ajout d'un titre à la page
            -Icone de randonneur
            -Définition des méta-données
            -Ajout de bootstrap5
            -Block permetant d'ajouter des fichiers statiques-->
        <meta charset="utf-8">
        <title>{% block title %}Topoguide{% endblock title%}</title>
        <link rel="icon" type="image/x-icon" href={% static 'icone-randonneur.png' %}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        {% block staticFiles %}
        {% endblock staticFiles %}
        
    </head>

    <style>
        /*Affichage d'une image de fond*/
        body {
          background-image: url({% static 'hiking-wallpapers.jpg' %});
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>

    <body>
        <!--Barre de navigation-->
            {% block menu%}
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                <table>
                    <!--Affichage du nom de l'utilisateur si il est connecté ou de login sinon. 
                        Les deux textes renvois vers la page de login-->
                    <td>
                        {% if request.user.is_active %}
                            <a class="nav-link active text-light" href={% url "login" %}>Bienvenue {{ request.user }}</a>
                        {% else %}
                            <a class="nav-link active text-light" href={% url "login" %}>Connexion</a>
                        {% endif %}
                    </td>
                    
                    <!--Lien pour ajouter une sortie.
                        Renvois vers la page de login si l'utilisateur n'est pas connecté-->
                    <td>       
                        <a class="nav-link active text-light" href={% url "itineraires:ajouterModifSortie" 0 %}>Ajouter une sortie</a>
                    </td>

                    <!--Lien qui renvoie vers la liste des itinéraires-->
                    <td>
                        <a class="nav-link active text-light" href={% url "itineraires:listeItineraires" %}>Menu principal</a>
                    </td>
                    <!--Bouton de déconnexion (seulement si l'utilisateur est connecté)-->

                    <td>
                        {% if request.user.is_active %}
                            <a class="nav-link active text-light item-right" href={% url "logout" %} >Déconnexion</a>
                        {% endif %}
                    </td>
                </tr>
                </table>
            </nav>
            {% endblock menu %}

            <!--Block pour acceuillir le code propre à chaque page html-->
            <div class="container-fluid" style="margin-top:80px">
                {% block content %}{% endblock %}
            </div>
    </body>
    
</html>